In [572]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [573]:
clientes = pd.read_csv('../Clientes.csv', sep=',')
clientes.head()

,ids,target_default,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,...,external_data_provider_fraud_score,lat_lon,marketing_channel,profile_phone_number,reported_income,shipping_state,shipping_zip_code,profile_tags,user_agent,target_fraud
0,343b7e7b-2cf8-e508-b8fd-0a0285af30aa,False,1Rk8w4Ucd5yR3KcqZzLdow==,IOVu8au3ISbo6+zmfnYwMg==,350.0,101.800832,0.259555,108.427273,0.40,25033.92,...,645,"(-29.151545708122246, -51.1386461804385)",Invite-email,514-9840782,57849.0,BR-MT,17528,"{'tags': ['n19', 'n8']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
1,bc2c7502-bbad-0f8c-39c3-94e881967124,False,DGCQep2AE5QRkNCshIAlFQ==,SaamrHMo23l/3TwXOWgVzw==,370.0,97.062615,0.942655,92.002546,0.24,NaN,...,243,"(-19.687710705798963, -47.94151536525154)",Radio-commercial,251-3659293,4902.0,BR-RS,40933,"{'tags': ['n6', 'n7', 'nim']}",Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-...,NaN
2,669630dd-2e6a-0396-84bf-455e5009c922,True,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,360.0,100.027073,0.351918,112.892453,0.29,7207.92,...,65,"(-28.748023890412284, -51.867279334353995)",Waiting-list,230-6097993,163679.0,BR-RR,50985,"{'tags': ['n0', 'n17', 'nim', 'da']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
3,d235609e-b6cb-0ccc-a329-d4f12e7ebdc1,False,1Rk8w4Ucd5yR3KcqZzLdow==,dCm9hFKfdRm7ej3jW+gyxw==,510.0,101.599485,0.987673,94.902491,0.32,NaN,...,815,"(-17.520650158450454, -39.75801139933186)",Waiting-list,261-3543751,1086.0,BR-RN,37825,{'tags': ['n4']},Mozilla/5.0 (Linux; Android 6.0; HTC One X10 B...,NaN
4,9e0eb880-e8f4-3faa-67d8-f5cdd2b3932b,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,500.0,98.474289,0.532539,118.126207,0.18,NaN,...,320,"(-16.574259446978008, -39.90990074785962)",Invite-email,102-3660162,198618.0,BR-MT,52827,"{'tags': ['pro+aty', 'n19', 'da', 'b19']}",Mozilla/5.0 (Linux; Android 7.0; Pixel C Build...,NaN

In [574]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 43 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   ids                                               45000 non-null  object
 1   target_default                                    41741 non-null  object
 2   score_1                                           44438 non-null  object
 3   score_2                                           44438 non-null  object
 4   score_3                                           44438 non-null  float64
 5   score_4                                           45000 non-null  float64
 6   score_5                                           45000 non-null  float64
 7   score_6                                           45000 non-null  float64
 8   risk_rate                                         44438 non-null  float64
 9   last_amount_borrowed                              15044 non-null  float64
 10  last_borrowed_in_months                           15044 non-null  float64
 11  credit_limit                                      31200 non-null  float64
 12  reason                                            44434 non-null  object
 13  income                                            44438 non-null  float64
 14  facebook_profile                                  40542 non-null  object
 15  state                                             44438 non-null  object
 16  zip                                               44438 non-null  object
 17  channel                                           44438 non-null  object
 18  job_name                                          41664 non-null  object
 19  real_state                                        44438 non-null  object
 20  ok_since                                          18455 non-null  float64
 21  n_bankruptcies                                    44303 non-null  float64
 22  n_defaulted_loans                                 44426 non-null  float64
 23  n_accounts                                        44438 non-null  float64
 24  n_issues                                          33456 non-null  float64
 25  application_time_applied                          45000 non-null  object
 26  application_time_in_funnel                        45000 non-null  int64
 27  email                                             45000 non-null  object
 28  external_data_provider_credit_checks_last_2_year  22372 non-null  float64
 29  external_data_provider_credit_checks_last_month   45000 non-null  int64
 30  external_data_provider_credit_checks_last_year    29876 non-null  float64
 31  external_data_provider_email_seen_before          42767 non-null  float64
 32  external_data_provider_first_name                 45000 non-null  object
 33  external_data_provider_fraud_score                45000 non-null  int64
 34  lat_lon                                           43637 non-null  object
 35  marketing_channel                                 41422 non-null  object
 36  profile_phone_number                              45000 non-null  object
 37  reported_income                                   45000 non-null  float64
 38  shipping_state                                    45000 non-null  object
 39  shipping_zip_code                                 45000 non-null  int64
 40  profile_tags                                      45000 non-null  object
 41  user_agent                                        44278 non-null  object
 42  target_fraud                                      1522 non-null   object
dtypes: float64(18), int64(4), object(21)
memory usage: 14.8+ MB

In [575]:
clientes.columns

Index(['ids', 'target_default', 'score_1', 'score_2', 'score_3', 'score_4',
       'score_5', 'score_6', 'risk_rate', 'last_amount_borrowed',
       'last_borrowed_in_months', 'credit_limit', 'reason', 'income',
       'facebook_profile', 'state', 'zip', 'channel', 'job_name', 'real_state',
       'ok_since', 'n_bankruptcies', 'n_defaulted_loans', 'n_accounts',
       'n_issues', 'application_time_applied', 'application_time_in_funnel',
       'email', 'external_data_provider_credit_checks_last_2_year',
       'external_data_provider_credit_checks_last_month',
       'external_data_provider_credit_checks_last_year',
       'external_data_provider_email_seen_before',
       'external_data_provider_first_name',
       'external_data_provider_fraud_score', 'lat_lon', 'marketing_channel',
       'profile_phone_number', 'reported_income', 'shipping_state',
       'shipping_zip_code', 'profile_tags', 'user_agent', 'target_fraud'],
      dtype='object')

In [576]:
len(clientes.columns)

43

## AnÃ¡lise das informaÃ§Ãµes

In [577]:
clientes.iloc[:10, :10]

,ids,target_default,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed
0,343b7e7b-2cf8-e508-b8fd-0a0285af30aa,False,1Rk8w4Ucd5yR3KcqZzLdow==,IOVu8au3ISbo6+zmfnYwMg==,350.0,101.800832,0.259555,108.427273,0.40,25033.92
1,bc2c7502-bbad-0f8c-39c3-94e881967124,False,DGCQep2AE5QRkNCshIAlFQ==,SaamrHMo23l/3TwXOWgVzw==,370.0,97.062615,0.942655,92.002546,0.24,NaN
2,669630dd-2e6a-0396-84bf-455e5009c922,True,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,360.0,100.027073,0.351918,112.892453,0.29,7207.92
3,d235609e-b6cb-0ccc-a329-d4f12e7ebdc1,False,1Rk8w4Ucd5yR3KcqZzLdow==,dCm9hFKfdRm7ej3jW+gyxw==,510.0,101.599485,0.987673,94.902491,0.32,NaN
4,9e0eb880-e8f4-3faa-67d8-f5cdd2b3932b,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,500.0,98.474289,0.532539,118.126207,0.18,NaN
5,538c1908-bd80-b834-c3f0-238b4f536d3f,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,300.0,101.837040,0.915389,90.711273,0.44,NaN
6,cd23a767-efe7-46fe-18c7-59b93f2e6e72,False,1Rk8w4Ucd5yR3KcqZzLdow==,dCm9hFKfdRm7ej3jW+gyxw==,250.0,98.958914,0.901736,108.609675,0.43,NaN
7,7552f149-5c7b-9e10-24a0-55978ee4ff5b,False,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,330.0,100.342564,0.491610,115.954187,0.33,NaN
8,2bf379e3-51e3-2f7c-168f-3d494e2d2b5b,False,4DLlLW62jReXaqbPaHp1vQ==,tQUTfUyeuGkhRotd+6WjVg==,510.0,95.201098,0.559745,94.657281,0.33,5019.53
9,4146cbf8-1ec5-f381-e5c4-1ffad3a3e37e,True,e4NYDor1NOw6XKGE60AWFw==,cdpgyOyZS04uXerMNu7uCw==,390.0,97.608652,0.444594,102.905688,0.36,NaN

In [578]:
clientes.iloc[:10, 10:15]

,last_borrowed_in_months,credit_limit,reason,income,facebook_profile
0,36.0,0.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,65014.12,True
1,NaN,39726.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,100018.91,False
2,36.0,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,65023.65,NaN
3,NaN,54591.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,68830.01,False
4,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,60011.29,True
5,NaN,61055.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,75024.28,False
6,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,49234.65,False
7,NaN,42666.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,80024.60,True
8,60.0,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,31019.09,True
9,NaN,16291.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,45026.26,False

In [579]:
clientes.iloc[:10, 15:20]

,state,zip,channel,job_name,real_state
0,sjJbkqJS7cXalHLBFA+EOQ==,Ernn+uVXCMq/6ARrBCcd+A==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==
1,xsd3ZdsI3356I3xMxZeiqQ==,rlWIXTBO+VOa34+SpGyhlQ==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==
2,Ygq6MsM98oC8yceExr69Ig==,PjTIDfJsK0DKL9fO7vuW2g==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==
3,KET/Pmr6rHp1RJ/P9ymztw==,Cc/kWDLQH3dpHv5HU+pLVA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiE56f...,n+xK9CfX0bCn77lClTWviw==
4,xsd3ZdsI3356I3xMxZeiqQ==,i036nmJ7rfxo+3EvCD7Jnw==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==
5,JrdZzPZEa/YIIGwh8OdTKA==,kfWDI5wYFHdi9PtKFI9EPg==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==
6,xsd3ZdsI3356I3xMxZeiqQ==,3k2JCQ8Bp5oDwaI39ZJgHA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==
7,orU7WJYGPT/xFwOXY1eBkw==,kT9iINxmEtNoxGqiEuuu1w==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==
8,xsd3ZdsI3356I3xMxZeiqQ==,IS7hpLnmcFmoFQx5fYolyA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==
9,P1TKs1aii8osbgO+MszZ2w==,FcreDj8X5CjkLfqOjlBKIQ==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==

In [580]:
clientes.iloc[:10, 20:25]

   ok_since  n_bankruptcies  n_defaulted_loans  n_accounts  n_issues
0       NaN             0.0                0.0        18.0      18.0
1      50.0             0.0                0.0        14.0      14.0
2       NaN             0.0                0.0        10.0       NaN
3       NaN             1.0                0.0        19.0      19.0
4       NaN             0.0                0.0        11.0       NaN
5       NaN             0.0                0.0         9.0       9.0
6       NaN             0.0                0.0         8.0       NaN
7       NaN             0.0                0.0         7.0       7.0
8       NaN             0.0                0.0         8.0       NaN
9       NaN             0.0                0.0         8.0       8.0

In [581]:
clientes.iloc[:10, 25:30]

,application_time_applied,application_time_in_funnel,email,external_data_provider_credit_checks_last_2_year,external_data_provider_credit_checks_last_month
0,07:52:34,444,outlook.com,NaN,2
1,02:34:29,346,gmail.com,0.0,1
2,00:60:02,6,gmail.com,NaN,2
3,11:20:49,406,spgov.com,NaN,3
4,13:39:03,240,gmail.com,0.0,2
5,05:27:02,169,gmail.com,NaN,2
6,08:19:45,74,gmail.com,0.0,2
7,17:58:42,184,outlook.com,0.0,3
8,15:04:47,420,spgov.com,0.0,0
9,04:47:22,7,hotmail.com,0.0,2

In [582]:
clientes.iloc[:10, 30:35]

,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,lat_lon
0,0.0,51.0,leidelaura,645,"(-29.151545708122246, -51.1386461804385)"
1,0.0,17.0,diocezio,243,"(-19.687710705798963, -47.94151536525154)"
2,NaN,9.0,veralucia,65,"(-28.748023890412284, -51.867279334353995)"
3,NaN,38.0,venice,815,"(-17.520650158450454, -39.75801139933186)"
4,1.0,46.0,darzisa,320,"(-16.574259446978008, -39.90990074785962)"
5,1.0,21.0,teomar,811,"(-6.762413011455668, -35.13224579733013)"
6,0.0,16.0,weigma,527,"(-22.90356694722871, -47.12093338650089)"
7,0.0,37.0,orna,415,"(-8.39950627124774, -46.207331472395396)"
8,NaN,6.0,cleuber,793,"(-21.22575737036379, -44.595846539016456)"
9,0.0,NaN,elisete,703,"(-16.61107269517449, -49.34324651918292)"

In [583]:
clientes.iloc[:10, 35:44]

,marketing_channel,profile_phone_number,reported_income,shipping_state,shipping_zip_code,profile_tags,user_agent,target_fraud
0,Invite-email,514-9840782,57849.0,BR-MT,17528,"{'tags': ['n19', 'n8']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
1,Radio-commercial,251-3659293,4902.0,BR-RS,40933,"{'tags': ['n6', 'n7', 'nim']}",Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-...,NaN
2,Waiting-list,230-6097993,163679.0,BR-RR,50985,"{'tags': ['n0', 'n17', 'nim', 'da']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
3,Waiting-list,261-3543751,1086.0,BR-RN,37825,{'tags': ['n4']},Mozilla/5.0 (Linux; Android 6.0; HTC One X10 B...,NaN
4,Invite-email,102-3660162,198618.0,BR-MT,52827,"{'tags': ['pro+aty', 'n19', 'da', 'b19']}",Mozilla/5.0 (Linux; Android 7.0; Pixel C Build...,NaN
5,Website,787-1678197,160198.0,BR-SP,55266,"{'tags': ['c1', 'n3', 'n9']}",Mozilla/5.0 (Linux; Android 6.0.1; Nexus 6P Bu...,NaN
6,Twitter,185-7402507,132928.0,BR-SP,47408,{'tags': ['n3']},Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like M...,NaN
7,Waiting-list,503-9012277,8658.0,BR-AC,36168,"{'tags': ['n15', 'c55', 'n14', 'n8', 'n3']}","Mozilla/5.0 (iPhone9,4; U; CPU iPhone OS 10_0_...",NaN
8,Website,750-4705041,82272.0,BR-MS,49289,"{'tags': ['n14', 'n15', 'n6']}",Mozilla/5.0 (Apple-iPhone7C2/1202.466; U; CPU ...,NaN
9,Facebook,132-3263001,96889.0,BR-PE,45389,"{'tags': ['n9', 'pro+aty', 'n2', 'n1']}",Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15....,fraud_friends_family

## Excluir dados criptografados e identificador de cliente

In [584]:
# verificando se Ã© possÃ­vel excluir por tipo
clientes.select_dtypes(include='object')

,ids,target_default,score_1,score_2,reason,facebook_profile,state,zip,channel,job_name,...,application_time_applied,email,external_data_provider_first_name,lat_lon,marketing_channel,profile_phone_number,shipping_state,profile_tags,user_agent,target_fraud
0,343b7e7b-2cf8-e508-b8fd-0a0285af30aa,False,1Rk8w4Ucd5yR3KcqZzLdow==,IOVu8au3ISbo6+zmfnYwMg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,True,sjJbkqJS7cXalHLBFA+EOQ==,Ernn+uVXCMq/6ARrBCcd+A==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,07:52:34,outlook.com,leidelaura,"(-29.151545708122246, -51.1386461804385)",Invite-email,514-9840782,BR-MT,"{'tags': ['n19', 'n8']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
1,bc2c7502-bbad-0f8c-39c3-94e881967124,False,DGCQep2AE5QRkNCshIAlFQ==,SaamrHMo23l/3TwXOWgVzw==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,False,xsd3ZdsI3356I3xMxZeiqQ==,rlWIXTBO+VOa34+SpGyhlQ==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,02:34:29,gmail.com,diocezio,"(-19.687710705798963, -47.94151536525154)",Radio-commercial,251-3659293,BR-RS,"{'tags': ['n6', 'n7', 'nim']}",Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-...,NaN
2,669630dd-2e6a-0396-84bf-455e5009c922,True,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,NaN,Ygq6MsM98oC8yceExr69Ig==,PjTIDfJsK0DKL9fO7vuW2g==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,00:60:02,gmail.com,veralucia,"(-28.748023890412284, -51.867279334353995)",Waiting-list,230-6097993,BR-RR,"{'tags': ['n0', 'n17', 'nim', 'da']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
3,d235609e-b6cb-0ccc-a329-d4f12e7ebdc1,False,1Rk8w4Ucd5yR3KcqZzLdow==,dCm9hFKfdRm7ej3jW+gyxw==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,False,KET/Pmr6rHp1RJ/P9ymztw==,Cc/kWDLQH3dpHv5HU+pLVA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiE56f...,...,11:20:49,spgov.com,venice,"(-17.520650158450454, -39.75801139933186)",Waiting-list,261-3543751,BR-RN,{'tags': ['n4']},Mozilla/5.0 (Linux; Android 6.0; HTC One X10 B...,NaN
4,9e0eb880-e8f4-3faa-67d8-f5cdd2b3932b,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,True,xsd3ZdsI3356I3xMxZeiqQ==,i036nmJ7rfxo+3EvCD7Jnw==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,13:39:03,gmail.com,darzisa,"(-16.574259446978008, -39.90990074785962)",Invite-email,102-3660162,BR-MT,"{'tags': ['pro+aty', 'n19', 'da', 'b19']}",Mozilla/5.0 (Linux; Android 7.0; Pixel C Build...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,696cb747-1159-0a29-6731-8c52c6c42f5d,False,DGCQep2AE5QRkNCshIAlFQ==,SaamrHMo23l/3TwXOWgVzw==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,False,x6Gw/1I8t3KPgT6s82Kodg==,Hfh28TzqkRno6rOU/tjy6Q==,NCqL3QBx0pscDnx3ixKwXg==,NaN,...,13:27:39,hotmail.com,ornilza,"(-22.486891256430695, -44.909010639017616)",Facebook,768-5074915,BR-GO,"{'tags': ['n1', 'n7', 'n4', 'n0']}",Mozilla/5.0 (Linux; Android 6.0.1; SM-G920V Bu...,NaN
44996,92cd9b1a-9a8e-43ad-5d96-8e999128b472,False,smzX0nxh5QlePvtVf6EAeg==,vJyc9xom9v7hwFMPTIpmKw==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,False,bwNrC22VlFOFk6/nEHQc6A==,vYKZVZfAwOMRjE0QGAYvbA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,22:50:49,gmail.com,deisilu,"(-12.881449687799003, -46.43545330884514)",Waiting-list,772-3517810,BR-RO,"{'tags': ['n11', 'n5', 'n12']}",Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,NaN
44997,febdd174-cf18-0be1-feb8-38399dd67d9e,False,e4NYDor1NOw6XKGE60AWFw==,ky19q4V1ZqgL3jnHX0wKDw==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,NaN,xsd3ZdsI3356I3xMxZeiqQ==,Kihc6OKBTIHsGwCQy2Vruw==,NCqL3QBx0pscDnx3ixKwXg==,NaN,...,09:60:49,gmail.com,elayne,"(-23.888982131800983, -50.645313285616645)",Waiting-list,334-9885724,BR-SP,"{'tags': ['dfa', 'c55', 'pro+aty']}",Mozilla/5.0 (Linux; Android 5.0.2; LG-V410/V41...,NaN
44998,a0a5a872-6165-b939-b711-37d045a0b5a8,True,smzX0nxh5QlePvtVf6EAeg==,6J1ZMTzN5GKHXnhM4J1JbA==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,True,xsd3ZdsI3356I3xMxZeiqQ==,Kihc6OKBTIHsGwCQy2Vruw==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,02:18:51,gmail.com,hidelburgo,"(-5.14769885524928, -37.98386842511541)",Instagram,238-9568414,BR-SP,"{'tags': ['n9', 'n2']}",Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-...,NaN
44999,a7504e93-123a-f965-70c6-ab01a0d475f7,False,8k8UDR4Yx0qasAjkGrUZLw==,wkeCdGeu5sEv4/fjwR0aDg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,NaN,BB/zpwTH+8GCIVHlhzOU1Q==,8fTg1YyyuslJ5OATAWj5Ww==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,...,15:01:57,hotmail.com,genny,"(-23.13900985246712, -52.29465769715389)",Facebook,296-8101743,BR-MT,"{'tags': ['dfa', 'c55', 'pro+aty', 'n8', 'n4']}",Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like M...,NaN

### Existem dados que estÃ£o criptografados e dados muito particulares. Vamos limpar essas informaÃ§Ãµes para ficar com um dataframe mais conciso de acordo com o objetivo da anÃ¡lise.

In [585]:
col_index = zip(clientes.columns, range(43))
col_index

In [586]:
for i, v in col_index:
    print(f"{i}: {v}")

ids: 0
target_default: 1
score_1: 2
score_2: 3
score_3: 4
score_4: 5
score_5: 6
score_6: 7
risk_rate: 8
last_amount_borrowed: 9
last_borrowed_in_months: 10
credit_limit: 11
reason: 12
income: 13
facebook_profile: 14
state: 15
zip: 16
channel: 17
job_name: 18
real_state: 19
ok_since: 20
n_bankruptcies: 21
n_defaulted_loans: 22
n_accounts: 23
n_issues: 24
application_time_applied: 25
application_time_in_funnel: 26
email: 27
external_data_provider_credit_checks_last_2_year: 28
external_data_provider_credit_checks_last_month: 29
external_data_provider_credit_checks_last_year: 30
external_data_provider_email_seen_before: 31
external_data_provider_first_name: 32
external_data_provider_fraud_score: 33
lat_lon: 34
marketing_channel: 35
profile_phone_number: 36
reported_income: 37
shipping_state: 38
shipping_zip_code: 39
profile_tags: 40
user_agent: 41
target_fraud: 42

In [587]:
drop_columns = [0, 2, 3, 12, 15, 16, 17, 18, 19, 27, 34, 36, 40, 41]
clientes.drop(clientes.columns[drop_columns], axis=1, inplace=True)

In [588]:
clientes.head()

,target_default,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income,...,external_data_provider_credit_checks_last_month,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,marketing_channel,reported_income,shipping_state,shipping_zip_code,target_fraud
0,False,350.0,101.800832,0.259555,108.427273,0.40,25033.92,36.0,0.0,65014.12,...,2,0.0,51.0,leidelaura,645,Invite-email,57849.0,BR-MT,17528,NaN
1,False,370.0,97.062615,0.942655,92.002546,0.24,NaN,NaN,39726.0,100018.91,...,1,0.0,17.0,diocezio,243,Radio-commercial,4902.0,BR-RS,40933,NaN
2,True,360.0,100.027073,0.351918,112.892453,0.29,7207.92,36.0,NaN,65023.65,...,2,NaN,9.0,veralucia,65,Waiting-list,163679.0,BR-RR,50985,NaN
3,False,510.0,101.599485,0.987673,94.902491,0.32,NaN,NaN,54591.0,68830.01,...,3,NaN,38.0,venice,815,Waiting-list,1086.0,BR-RN,37825,NaN
4,False,500.0,98.474289,0.532539,118.126207,0.18,NaN,NaN,NaN,60011.29,...,2,1.0,46.0,darzisa,320,Invite-email,198618.0,BR-MT,52827,NaN

In [589]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 29 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   target_default                                    41741 non-null  object
 1   score_3                                           44438 non-null  float64
 2   score_4                                           45000 non-null  float64
 3   score_5                                           45000 non-null  float64
 4   score_6                                           45000 non-null  float64
 5   risk_rate                                         44438 non-null  float64
 6   last_amount_borrowed                              15044 non-null  float64
 7   last_borrowed_in_months                           15044 non-null  float64
 8   credit_limit                                      31200 non-null  float64
 9   income                                            44438 non-null  float64
 10  facebook_profile                                  40542 non-null  object
 11  ok_since                                          18455 non-null  float64
 12  n_bankruptcies                                    44303 non-null  float64
 13  n_defaulted_loans                                 44426 non-null  float64
 14  n_accounts                                        44438 non-null  float64
 15  n_issues                                          33456 non-null  float64
 16  application_time_applied                          45000 non-null  object
 17  application_time_in_funnel                        45000 non-null  int64
 18  external_data_provider_credit_checks_last_2_year  22372 non-null  float64
 19  external_data_provider_credit_checks_last_month   45000 non-null  int64
 20  external_data_provider_credit_checks_last_year    29876 non-null  float64
 21  external_data_provider_email_seen_before          42767 non-null  float64
 22  external_data_provider_first_name                 45000 non-null  object
 23  external_data_provider_fraud_score                45000 non-null  int64
 24  marketing_channel                                 41422 non-null  object
 25  reported_income                                   45000 non-null  float64
 26  shipping_state                                    45000 non-null  object
 27  shipping_zip_code                                 45000 non-null  int64
 28  target_fraud                                      1522 non-null   object
dtypes: float64(18), int64(4), object(7)
memory usage: 10.0+ MB

In [590]:
len(clientes.columns)

29

In [591]:
clientes.iloc[:10, :10]

,target_default,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income
0,False,350.0,101.800832,0.259555,108.427273,0.40,25033.92,36.0,0.0,65014.12
1,False,370.0,97.062615,0.942655,92.002546,0.24,NaN,NaN,39726.0,100018.91
2,True,360.0,100.027073,0.351918,112.892453,0.29,7207.92,36.0,NaN,65023.65
3,False,510.0,101.599485,0.987673,94.902491,0.32,NaN,NaN,54591.0,68830.01
4,False,500.0,98.474289,0.532539,118.126207,0.18,NaN,NaN,NaN,60011.29
5,False,300.0,101.837040,0.915389,90.711273,0.44,NaN,NaN,61055.0,75024.28
6,False,250.0,98.958914,0.901736,108.609675,0.43,NaN,NaN,NaN,49234.65
7,False,330.0,100.342564,0.491610,115.954187,0.33,NaN,NaN,42666.0,80024.60
8,False,510.0,95.201098,0.559745,94.657281,0.33,5019.53,60.0,NaN,31019.09
9,True,390.0,97.608652,0.444594,102.905688,0.36,NaN,NaN,16291.0,45026.26

In [592]:
clientes.iloc[:10, 10:20]

,facebook_profile,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues,application_time_applied,application_time_in_funnel,external_data_provider_credit_checks_last_2_year,external_data_provider_credit_checks_last_month
0,True,NaN,0.0,0.0,18.0,18.0,07:52:34,444,NaN,2
1,False,50.0,0.0,0.0,14.0,14.0,02:34:29,346,0.0,1
2,NaN,NaN,0.0,0.0,10.0,NaN,00:60:02,6,NaN,2
3,False,NaN,1.0,0.0,19.0,19.0,11:20:49,406,NaN,3
4,True,NaN,0.0,0.0,11.0,NaN,13:39:03,240,0.0,2
5,False,NaN,0.0,0.0,9.0,9.0,05:27:02,169,NaN,2
6,False,NaN,0.0,0.0,8.0,NaN,08:19:45,74,0.0,2
7,True,NaN,0.0,0.0,7.0,7.0,17:58:42,184,0.0,3
8,True,NaN,0.0,0.0,8.0,NaN,15:04:47,420,0.0,0
9,False,NaN,0.0,0.0,8.0,8.0,04:47:22,7,0.0,2

In [593]:
clientes.iloc[:10, 20:25]

,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,marketing_channel
0,0.0,51.0,leidelaura,645,Invite-email
1,0.0,17.0,diocezio,243,Radio-commercial
2,NaN,9.0,veralucia,65,Waiting-list
3,NaN,38.0,venice,815,Waiting-list
4,1.0,46.0,darzisa,320,Invite-email
5,1.0,21.0,teomar,811,Website
6,0.0,16.0,weigma,527,Twitter
7,0.0,37.0,orna,415,Waiting-list
8,NaN,6.0,cleuber,793,Website
9,0.0,NaN,elisete,703,Facebook

In [594]:
clientes.iloc[:10, 25:]

   reported_income shipping_state  shipping_zip_code          target_fraud
0          57849.0          BR-MT              17528                   NaN
1           4902.0          BR-RS              40933                   NaN
2         163679.0          BR-RR              50985                   NaN
3           1086.0          BR-RN              37825                   NaN
4         198618.0          BR-MT              52827                   NaN
5         160198.0          BR-SP              55266                   NaN
6         132928.0          BR-SP              47408                   NaN
7           8658.0          BR-AC              36168                   NaN
8          82272.0          BR-MS              49289                   NaN
9          96889.0          BR-PE              45389  fraud_friends_family

In [595]:
clientes.shipping_state.unique()

array(['BR-MT', 'BR-RS', 'BR-RR', 'BR-RN', 'BR-SP', 'BR-AC', 'BR-MS',
       'BR-PE', 'BR-AM', 'BR-CE', 'BR-SE', 'BR-MA', 'BR-AP', 'BR-BA',
       'BR-TO', 'BR-RO', 'BR-SC', 'BR-GO', 'BR-PR', 'BR-MG', 'BR-ES',
       'BR-DF', 'BR-PA', 'BR-PB', 'BR-AL'], dtype=object)

In [596]:
clientes['state'] = clientes.shipping_state.str.split(pat = '-', n = 1, expand = True)[1]

In [597]:
clientes

,target_default,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income,...,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,marketing_channel,reported_income,shipping_state,shipping_zip_code,target_fraud,state
0,False,350.0,101.800832,0.259555,108.427273,0.40,25033.92,36.0,0.0,65014.12,...,0.0,51.0,leidelaura,645,Invite-email,57849.0,BR-MT,17528,NaN,MT
1,False,370.0,97.062615,0.942655,92.002546,0.24,NaN,NaN,39726.0,100018.91,...,0.0,17.0,diocezio,243,Radio-commercial,4902.0,BR-RS,40933,NaN,RS
2,True,360.0,100.027073,0.351918,112.892453,0.29,7207.92,36.0,NaN,65023.65,...,NaN,9.0,veralucia,65,Waiting-list,163679.0,BR-RR,50985,NaN,RR
3,False,510.0,101.599485,0.987673,94.902491,0.32,NaN,NaN,54591.0,68830.01,...,NaN,38.0,venice,815,Waiting-list,1086.0,BR-RN,37825,NaN,RN
4,False,500.0,98.474289,0.532539,118.126207,0.18,NaN,NaN,NaN,60011.29,...,1.0,46.0,darzisa,320,Invite-email,198618.0,BR-MT,52827,NaN,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,False,280.0,96.379531,0.416693,103.667082,0.17,14766.42,36.0,10627.0,100013.24,...,1.0,7.0,ornilza,730,Facebook,73417.0,BR-GO,52148,NaN,GO
44996,False,370.0,96.124977,0.692196,97.977973,0.27,NaN,NaN,36262.0,95026.69,...,NaN,1.0,deisilu,28,Waiting-list,26246.0,BR-RO,46084,NaN,RO
44997,False,280.0,102.377780,0.530938,93.687747,0.30,NaN,NaN,0.0,106020.90,...,1.0,27.0,elayne,940,Waiting-list,101252.0,BR-SP,30570,NaN,SP
44998,True,240.0,100.476090,0.214697,86.759074,0.37,NaN,NaN,0.0,185018.07,...,1.0,2.0,hidelburgo,459,Instagram,129844.0,BR-SP,12742,NaN,SP
44999,False,530.0,101.095813,0.011369,97.362918,0.31,4226.74,36.0,17942.0,34013.65,...,NaN,45.0,genny,781,Facebook,112766.0,BR-MT,41693,NaN,MT

In [598]:
clientes.drop(['shipping_state'], axis=1, inplace=True)

In [599]:
clientes

,target_default,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income,...,external_data_provider_credit_checks_last_month,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,marketing_channel,reported_income,shipping_zip_code,target_fraud,state
0,False,350.0,101.800832,0.259555,108.427273,0.40,25033.92,36.0,0.0,65014.12,...,2,0.0,51.0,leidelaura,645,Invite-email,57849.0,17528,NaN,MT
1,False,370.0,97.062615,0.942655,92.002546,0.24,NaN,NaN,39726.0,100018.91,...,1,0.0,17.0,diocezio,243,Radio-commercial,4902.0,40933,NaN,RS
2,True,360.0,100.027073,0.351918,112.892453,0.29,7207.92,36.0,NaN,65023.65,...,2,NaN,9.0,veralucia,65,Waiting-list,163679.0,50985,NaN,RR
3,False,510.0,101.599485,0.987673,94.902491,0.32,NaN,NaN,54591.0,68830.01,...,3,NaN,38.0,venice,815,Waiting-list,1086.0,37825,NaN,RN
4,False,500.0,98.474289,0.532539,118.126207,0.18,NaN,NaN,NaN,60011.29,...,2,1.0,46.0,darzisa,320,Invite-email,198618.0,52827,NaN,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,False,280.0,96.379531,0.416693,103.667082,0.17,14766.42,36.0,10627.0,100013.24,...,2,1.0,7.0,ornilza,730,Facebook,73417.0,52148,NaN,GO
44996,False,370.0,96.124977,0.692196,97.977973,0.27,NaN,NaN,36262.0,95026.69,...,1,NaN,1.0,deisilu,28,Waiting-list,26246.0,46084,NaN,RO
44997,False,280.0,102.377780,0.530938,93.687747,0.30,NaN,NaN,0.0,106020.90,...,2,1.0,27.0,elayne,940,Waiting-list,101252.0,30570,NaN,SP
44998,True,240.0,100.476090,0.214697,86.759074,0.37,NaN,NaN,0.0,185018.07,...,0,1.0,2.0,hidelburgo,459,Instagram,129844.0,12742,NaN,SP
44999,False,530.0,101.095813,0.011369,97.362918,0.31,4226.74,36.0,17942.0,34013.65,...,1,NaN,45.0,genny,781,Facebook,112766.0,41693,NaN,MT

In [600]:
len(clientes.columns)

29

In [601]:
clientes.isnull().sum()

target_default                                       3259
score_3                                               562
score_4                                                 0
score_5                                                 0
score_6                                                 0
risk_rate                                             562
last_amount_borrowed                                29956
last_borrowed_in_months                             29956
credit_limit                                        13800
income                                                562
facebook_profile                                     4458
ok_since                                            26545
n_bankruptcies                                        697
n_defaulted_loans                                     574
n_accounts                                            562
n_issues                                            11544
application_time_applied                                0
application_time_in_funnel                              0
external_data_provider_credit_checks_last_2_year    22628
external_data_provider_credit_checks_last_month         0
external_data_provider_credit_checks_last_year      15124
external_data_provider_email_seen_before             2233
external_data_provider_first_name                       0
external_data_provider_fraud_score                      0
marketing_channel                                    3578
reported_income                                         0
shipping_zip_code                                       0
target_fraud                                        43478
state                                                   0
dtype: int64

In [602]:
clientes.target_default.unique()

array([False, True, nan], dtype=object)

## Ainda temos colunas com muitos dados missing e como dependemos da coluna target default para saber se o cliente pode ou nÃ£o ser fraude, vamos trabalhar somente com os registros que tem essa informaÃ§Ã£o.

In [603]:
clientes = clientes.dropna(subset=["target_default"])

In [604]:
clientes.drop(["last_amount_borrowed", 
               "last_borrowed_in_months",
               "facebook_profile" ,
               "ok_since", "target_fraud", 
               "external_data_provider_credit_checks_last_2_year", 
               "external_data_provider_credit_checks_last_year"], axis=1, inplace=True)
clientes.isnull().sum()

/tmp/ipykernel_3379/355324538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes.drop(["last_amount_borrowed",

target_default                                         0
score_3                                                0
score_4                                                0
score_5                                                0
score_6                                                0
risk_rate                                              0
credit_limit                                       13109
income                                                 0
n_bankruptcies                                       135
n_defaulted_loans                                     12
n_accounts                                             0
n_issues                                           10923
application_time_applied                               0
application_time_in_funnel                             0
external_data_provider_credit_checks_last_month        0
external_data_provider_email_seen_before            2085
external_data_provider_first_name                      0
external_data_provider_fraud_score                     0
marketing_channel                                   3308
reported_income                                        0
shipping_zip_code                                      0
state                                                  0
dtype: int64

In [605]:
clientes.head()

,target_default,score_3,score_4,score_5,score_6,risk_rate,credit_limit,income,n_bankruptcies,n_defaulted_loans,...,application_time_applied,application_time_in_funnel,external_data_provider_credit_checks_last_month,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,marketing_channel,reported_income,shipping_zip_code,state
0,False,350.0,101.800832,0.259555,108.427273,0.40,0.0,65014.12,0.0,0.0,...,07:52:34,444,2,51.0,leidelaura,645,Invite-email,57849.0,17528,MT
1,False,370.0,97.062615,0.942655,92.002546,0.24,39726.0,100018.91,0.0,0.0,...,02:34:29,346,1,17.0,diocezio,243,Radio-commercial,4902.0,40933,RS
2,True,360.0,100.027073,0.351918,112.892453,0.29,NaN,65023.65,0.0,0.0,...,00:60:02,6,2,9.0,veralucia,65,Waiting-list,163679.0,50985,RR
3,False,510.0,101.599485,0.987673,94.902491,0.32,54591.0,68830.01,1.0,0.0,...,11:20:49,406,3,38.0,venice,815,Waiting-list,1086.0,37825,RN
4,False,500.0,98.474289,0.532539,118.126207,0.18,NaN,60011.29,0.0,0.0,...,13:39:03,240,2,46.0,darzisa,320,Invite-email,198618.0,52827,MT

In [606]:
clientes.n_issues.value_counts()

9.0     3019
10.0    3006
8.0     2917
11.0    2732
7.0     2490
12.0    2345
6.0     2037
13.0    2005
14.0    1631
15.0    1380
5.0     1335
16.0    1103
17.0     864
4.0      762
18.0     648
19.0     566
20.0     385
21.0     314
3.0      282
22.0     263
23.0     194
24.0     158
2.0       92
25.0      86
26.0      54
27.0      46
28.0      29
30.0      15
29.0      12
34.0       7
1.0        6
36.0       5
32.0       5
31.0       5
37.0       4
40.0       3
39.0       3
42.0       2
35.0       2
38.0       2
49.0       1
33.0       1
0.0        1
41.0       1
Name: n_issues, dtype: int64

In [609]:
media = clientes.n_issues.mean().__round__()
clientes.n_issues.fillna(media)

0        18.0
1        14.0
2        11.0
3        19.0
4        11.0
         ...
44995     7.0
44996    16.0
44997     6.0
44998    10.0
44999    10.0
Name: n_issues, Length: 41741, dtype: float64

In [610]:
clientes.isnull().sum()

target_default                                         0
score_3                                                0
score_4                                                0
score_5                                                0
score_6                                                0
risk_rate                                              0
credit_limit                                       13109
income                                                 0
n_bankruptcies                                       135
n_defaulted_loans                                     12
n_accounts                                             0
n_issues                                               0
application_time_applied                               0
application_time_in_funnel                             0
external_data_provider_credit_checks_last_month        0
external_data_provider_email_seen_before            2085
external_data_provider_first_name                      0
external_data_provider_fraud_score                     0
marketing_channel                                   3308
reported_income                                        0
shipping_zip_code                                      0
state                                                  0
dtype: int64

In [611]:
clientes.credit_limit.value_counts()

0.0        4903
10000.0     133
15000.0      86
5000.0       79
20000.0      72
           ...
50973.0       1
36972.0       1
84426.0       1
54763.0       1
17942.0       1
Name: credit_limit, Length: 19336, dtype: int64

In [612]:
clientes.credit_limit.fillna(0)

0            0.0
1        39726.0
2            0.0
3        54591.0
4            0.0
          ...
44995    10627.0
44996    36262.0
44997        0.0
44998        0.0
44999    17942.0
Name: credit_limit, Length: 41741, dtype: float64

In [613]:
clientes.credit_limit.value_counts()

0.0        4903
10000.0     133
15000.0      86
5000.0       79
20000.0      72
           ...
50973.0       1
36972.0       1
84426.0       1
54763.0       1
17942.0       1
Name: credit_limit, Length: 19336, dtype: int64